DateTime>=5.5
Flask>=3.0.3
Flask-Cors>=4.0.0
flask-swagger-ui>=4.11.1
numpy>=1.26.4
pandas>=2.2.2
oracledb>=2.1.2
psycopg2-binary>=2.9.9
pypomes_core>=0.8.8
pypomes_http>=0.1.3
pypomes_logging>=0.0.2
python-dateutil>=2.9.0
pytz>=2024.1
ruff>=0.4.1
SQLAlchemy>=2.0.29
Werkzeug>=3.0.2
zope.interface>=6.3
