DateTime>=5.5
Flask>=3.0.3
Flask-Cors>=4.0.0
flask-swagger-ui>=4.11.1
mysql-connector-python>=8.4.0
oracledb>=2.2.0
pyodbc>=5.1.0
psycopg2-binary>=2.9.9
pypomes_core>=0.9.7
pypomes_db>=0.5.8
pypomes_http>=0.1.6
pypomes_logging>=0.0.4
python-dateutil>=2.9.0
pytz>=2024.1
ruff>=0.4.1
SQLAlchemy>=2.0.29
Werkzeug>=3.0.2
zope.interface>=6.3
