boto3==1.42.51
Flask==3.1.2
Flask-Cors==6.0.2
flask-swagger-ui==5.21.0
minio==7.2.20
mysql-connector-python==9.6.0
oracledb==3.4.2
psycopg2-binary==2.9.11
pyodbc==5.3.0
pypomes_core==3.1.0
pypomes_db==2.9.4
pypomes_http==0.8.2
pypomes_logging==0.7.4
pypomes_s3==1.0.6
python-dotenv==1.2.1
SQLAlchemy==2.0.46
URLObject==3.0.0
Werkzeug==3.1.5
zope.interface==8.2
